<br>
<br>
<h1>Inicio</h1>
<hr>
<div class="row justify-content-center">
    <div class="row ml-lg-5 mb-3" *ngFor="let Al of Alumno let i=index">
        <div>
            <div class="card text-center" style="width: 17rem">
                <div class="card-body">
                    <h5 class="card-title"><a style="text-decoration: none">Nombre: {{Al.nom_al}} </a></h5>
                    <hr />
                    <p class="card-text">No.Ctrl: {{Al.no_ctrl}}</p>
                    <hr>
                    <p class="card-text">Semestre: {{Al.semestre}}</p>
                    <hr />
                    <p class="card-text">Carrera: {{Al.carrera}}</p>
                    <hr />
                    <button (click)="Promedio(i)" type="button" class="btn btn-outline-primary">Promedio</button>
                </div>
            </div>
        </div>
    </div>
</div>