<br>
<br>
<h1>Materias</h1>
<hr>
<div class="row">
    <!--*ngFor="let ma of Mate let i=index"-->
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Clv. Materia</th>
                <th scope="col">Materia</th>
                <th scope="col">Unidades</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Mater of Mate">
                <td>{{Mater.clv_mat}}</td>
                <td>{{Mater.nom_mat}}</td>
                <td>{{Mater.no_uni}}</td>
            </tr>
        </tbody>
    </table>
</div>