<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['Inicio']">Escuela</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['Inicio']">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['Alumnos']">Alumnos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['Materias']">Materias</a>
            </li>
        </ul>
    </div>
</nav>