<br>
<br>
<h1>Cardex del Alumno</h1>
<hr>
<div class="row justify-content-center">
    <div class="card border-info col-10">
        <form class="card-body">
            <div class="form-row">
                <div class="form-group col-8">
                    <label>Nombre del Alumno</label>
                    <output type="text" class="form-control">{{NumCtr.nom_al}}</output>
                </div>
                <div class="form-group pl-3 col-4">
                    <label>No. Ctrl</label>
                    <output type="text" class="form-control">{{NumCtr.no_ctrl}}</output>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-7">
                    <label>Carrera</label>
                    <output type="text" class="form-control">{{NumCtr.carrera}}</output>
                </div>
                <div class="form-group pl-4 col-2">
                    <label>Promedio</label>
                    <output type="text" class="form-control">{{promgen|number: '2.0-2'}}</output>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<h2>Materias</h2>
<hr>
<div class="row justify-content-center">
    <div class="card border-primary m-3" style="max-width: 35rem;" *ngFor="let materia1 of mate">
        <div class="card-body">
            <h5 class="card-title">Materia: {{materia1.nombre}}</h5>
            <h6 class="card-subtitle mb-2 text-muted"># Materia: {{materia1.clve}}</h6>
            <p class="card-text">Unidades: {{materia1.unid}}</p>
            <p class="card-text">Promedio: {{materia1.pr}}</p>
        </div>
    </div>
</div>